li{
    text-align: center;
    padding: 20px;
  }

input{
    width: 30px;
    text-align: center; 
}
input[type='number'] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}